kvasen.xyz {
	header {
		Strict-Transport-Security max-age=31536000;
	}

	encode zstd gzip

	handle /api/* {
		reverse_proxy spring-app:8080
	}

	handle {
		root * /app/dist/frontend
		try_files {path} index.html
		file_server
	}
}
