<mat-tab-group dynamicHeight>
  <ng-container *ngFor="let note of notes">
    <mat-tab>
      <div class="note-text">
        <div class="example-large-box">
          {{note.noteText}}
        </div>
        <div id="work-on-note">
          <button (click)="deleteNote(note.id)" class="work-button" id="delete-button">
            Delete
          </button>
          <button matTooltip="Not implemented" class="work-button" id="edit-button">
            Edit
          </button>
        </div>
      </div>
      <ng-template mat-tab-label>
        <label matTooltip="{{note.shortName}}" matTooltipClass="example-tooltip-red1">
          {{note.id}}
        </label>
      </ng-template>
    </mat-tab>
  </ng-container>
</mat-tab-group>
<p>
  <button class="basic-button" (click)="goToAddNote()">Add Note</button>
</p>
<p>
  <button matTooltip="Previous page"
          [ngClass]="(this.currentPage > 0) ? 'basic-button move-button' : 'basic-button dead-button'"
          (click)="decreasePage()"
  >
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </button>
  <button matTooltip="Next page"
          [ngClass]="displayNextPage ? 'basic-button move-button' : 'basic-button dead-button'"
          class="basic-button move-button"
          (click)="increasePage()"
  >
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </button>
</p>

