<form [formGroup]="loginForm" (ngSubmit)="authenticate()" id="login-form">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput id="username" [formControlName]="'username'">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" [formControlName]="'password'">
      <button id="hide-password" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </p>
  <p>
    <mat-label *ngIf="showError" class="error-text">
      Something went wrong, please try again or register a new user.
    </mat-label>
  </p>
  <p>
    <button class="basic-button" type="submit">Login</button>
  </p>
</form>

<p>
  <button class="basic-button" (click)="goToRegistration()">Registration</button>
</p>


